*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    font-family: 'Roboto', sans-serif;
}
.padre{
    display: flex;

    flex-flow: column nowrap;
}
.header{
    background: url(../img/fia-632375e547a66.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
    .menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        position: fixed;
        width: 100%;
    }
    a{
        text-decoration: none;
    }
        .logo{
            flex: 2 1 auto;
        }
            .logo a{
                color: #fff;
                font-size: 30px;
            }
            .logo a:hover{
                color: #343434;
            }
        .nav{
            flex: 1 1 auto;
        }
            .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0px 10px;
                letter-spacing: 2px;
            }
            .nav a:hover{
                color: #343434;
            }
        .social{
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
       }
            .social a{
                color: #fff;
                font-size: 18px;
                padding: 0px 5px;
            }
            .social a:hover{
                color: #343434;
            }
    .textoprincipal{
        height: 580px;
        display: flex;
        align-items: center;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
    }
    .section{
        background: white;
        display: flex;
    }
        .articulos{
            background: white;
            display: flex;
            flex-flow: row wrap;
            flex: 1 1 100%;
        }
            .article{
                color: black;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0px 0px;
                flex: 1 1 45%;
                background-color: white;
            }
                .article a{
                    color: white;
                    font-size: 13px;
                    padding: 10px;
                    background: #000;
                    margin: 10px 0px;
                    display: inline-block;
                }
                .article a:hover{
                    background: #546cc3;
                }
                .article h3{
                    color: black;
                    font-size: 13px;
                    padding: 10px 10px;
                    margin-top: -80px;
                }
                .article h2{
                    color: black;
                    font-size: 25px;
                    text-transform: uppercase;
                    padding: 0px 10 px 0px;
                }
                .article img{
                    width: 100%;
                }
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                margin: 10px 5px 10px 0px;
            }
                .navegacion a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0px 10px;
                    letter-spacing: 2px;
                }
    .aside{
        flex: 1 1 25%;
        margin: 10px 5px 10px 0px;
    }
        .aside h4{
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
        .aside img {
            width: 100%;
        }

.footer{
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
    .pie{
        text-align: center;
    }
    .pie a{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0px 10px;
        letter-spacing: 2px;
    }

.margen-interno{
    padding: 0px 50px;
}
    @media all and (max-width:1120px){
        .section{
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        .aside{
            display: flex;
            justify-content: center;
        }
        h1{
            font-size: 15px;
        }
        .texto-principal{
            height: 450px;
        }
    }
    @media all and (max-width:800px){
        .section{
            flex-direction: column;
        }
        .aside{
            display: flex;
            justify-content: center;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
    }
    @media all and (max-width:600px){
        .articulos{
            flex-direction: column;
        }
    }
    @media all and (max-width:400px){
        .aside{
            flex-direction: column;
        }
    }